<div class="base">
  <div class="donut-container">
    <div class="donut-chart">
      <app-donut-chart [data]="donutData" [baseColor]="mainColor" [sensor]="sensor"></app-donut-chart>
    </div>
    <div class="donut-text">
      <b>{{mainSensor}}</b> Recommended Level: 300ppm
      <br/>
      <i class="fas fa-sync"></i> Last Sync:15th Feb, 2018 04:36
      <br/>
      <i class="fas fa-thermometer-three-quarters"></i> Temperature:13°C
      <br/>
      <i class="fas fa-cloud"></i> Humidity: 43%
    </div>
  </div>
  <div class="otherHalf">
    <div class="row right-holder">
      <div *ngFor="let sensor of smallList; let i = index" class="col s6">
        <div class="small-donut">
          <app-donut-chart [data]="dataList[i]" [baseColor]="secondColor" [sensor]="{{sensor}}"></app-donut-chart>
        </div>
        <b>{{sensor}}</b> Recommended Level: 300ppm
      </div>
    </div>
  </div>
</div>
