<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper our-nav">
      <a href="" class="brand-logo center">AIRPOL</a>
      <ul class="left" *ngIf="LocBar">
        
        <li class="location-bar"><app-location-search></app-location-search></li>
      </ul>
      <ul class="right">
          <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/trends" routerLinkActive="active">Trends</a></li>
        <li><a class="" href="#about">About</a></li>
      </ul>
    </div>
  </nav>
</div>